<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Araba No</th>
            <th>Araba İsmi</th>
            <th>Kategori</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Stok Adedi</th>
        </tr>
    </thead>
    <tr *ngFor="let detail of carDetails">
        <td>{{detail.carId}}</td>
        <td>{{detail.carName}}</td>
        <td>{{detail.categoryName}}</td>
        <td>{{detail.brandName}}</td>
        <td>{{detail.colorName}}</td>
        <td>{{detail.unitsInStock}}</td>
    </tr>
</table>